body {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  /* background: linear-gradient(rgb(255, 251, 202) 1%, #ffff61 40%,#ffd61f 70%) no-repeat fixed; */
  background: url("https://i.ibb.co/rmqQqMS/40440-adventure-time.jpg") no-repeat scroll center;
  background-size: 1800px;
  background-position-y: -225px;
  transition: background 0.5s;
}

h1 {
  font-family: 'Barriecito', sans-serif;
  font-size: 60px;
  width: 350px;
  margin: 20px auto;
  /* margin-bottom: 50px; */
  padding: 2px 0;
  background: rgba(255,255,255,0.9);
  border-radius: 50px;
  box-shadow: 0px 0px 20px 20px rgba(255,255,255,0.9);
}

p {
  text-align: left;
}

span {
  font-weight: 700;
}

img {
  width: 200px;
}

button {
  outline: none;
}


.stat {
  text-align: left;
  display: block;
  width: 100px;
  /* float: left; */
  /* margin-bottom: 2px; */
  padding: 5px;
  border-radius: 20px;
  background: rgba(255,255,255,0.9);
  border: 1px solid #ffd61f;
}

.container {
  margin: 0 auto;
  width: 1000px;
  position: relative;
}

.actions {
  position: relative;
  display: block;
  padding: 10px 20px;
  margin-top: 2px;
  left: 70%;
  border: 1px solid #ffd61f;
  border-radius: 20px;
  font-weight: 500; 
  font-size: 18px;
}

.actions:active {
  background: grey;
}

.tomagotchi {
  /* text-align: center; */
  width: 200px;
  position: absolute;
  left: 37%;
  margin-top: 250px;
  padding-top: 0px;
  top: 0;
  /* animation: feed 10s infinite; */
}

.tomagotchi img {
  transition: opacity 1s;
}

#night-bg {
  background: url('https://i.ibb.co/wchzDhN/nighttimebg.png') no-repeat scroll center;
  background-size: 1600px;
  background-position-y: -250px;
  background-position-x: -300px;
}

#eating-jake-overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  opacity: 0;
  text-align: center;
  width: 40%; /* Full width (cover the whole page) */
  height: 40%; /* Full height (cover the whole page) */
  top: 30%; 
  left: 29%;
  right: 0;
  bottom: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  transition: opacity 1s;
}

#eating-jake-overlay img {
  width: 80%;
  border-radius: 500px;
}

#sleeping-jake {
  /* width: 300px; */
  margin-top: 375px;
  left: 40%;
}

.play-jake {
  animation: play 1s 0s 5;
}

@keyframes play {
  0% {
    transform: translateX(30px);
  }
  25% {
    transform: translateX(-30px);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(30px);
  }
}

#stats {
  float: left;
  display: inline-block;
  width: 150px;
  margin: 0;
}

#actions-div {
  width: 150px;
  float: right;
  display: block;
  margin-right: 90px;
}

#spawn {
  position: absolute;
  display: inline-block;
  padding: 20px;
  margin-top: 75px;
  left: 43%;
  border: dotted;
  font-size: 15px;
  font-weight: 500;
}