body {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  background: linear-gradient(rgb(255, 251, 202) 1%, #ffff61 40%,#ffd61f 70%) no-repeat fixed;
  /* background-size: cover; */
}

h1 {
  font-family: 'Barriecito', sans-serif;
  font-size: 60px;
  margin-bottom: 2px;
}

p {
  text-align: left;
}

span {
  font-weight: 700;
}

.stat {
  text-align: left;
  display: block;
  /* float: left; */
  margin-bottom: 2px;
}

.container {
  margin: 0 auto;
  width: 1000px;
  position: relative;
}

.actions {
  position: relative;
  display: block;
  padding: 10px 20px;
  margin-top: 5px;
  left: 70%;
  border: 1px solid #ffd61f;
  border-radius: 20px;
  /* border: dotted;
  font-size: 15px;
  font-weight: 500; */
}

#tomagotchi {
  text-align: center;
  position: relative;
  left: 5%;
  margin-top: 50px;
  top: 0;
  /* animation: feed 10s infinite; */
}

@keyframes feed {
  0% {
    transform: translateX();
  }
  25% {

  }
  50% {

  }
  100% {

  }
}

#stats {
  float: left;
  display: inline-block;
  width: 150px;
  margin: 0;
}

#actions-div {
  width: 150px;
  float: right;
  display: block;
  margin-right: 90px;
}

#spawn {
  position: absolute;
  display: inline-block;
  padding: 20px;
  margin-top: 75px;
  left: 42%;
  border: dotted;
  font-size: 15px;
  font-weight: 500;
}